<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NFC Testing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  

  <ion-button expand="block" fill="outline" (click)="readTag()">Read Tags</ion-button>
  <ion-button expand="block" fill="outline" >Verify My Identity</ion-button>
  <ion-button expand="block" (click)="writeTag()" fill="outline" >Write On Tag</ion-button>
  

</ion-content>  